*{
    box-sizing: border-box;
}


body {
    max-width: 400px;
    height: 1000px;
    background-color: #f3f2f2;
}
.mensagens{
    color: aqua;
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.caixa-1{
    margin-top: 150px;
    max-width: 400px;
    height: 40px;
    border:solid black 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
